<ul class="list-group my-4 w-75">
<% @tasks.each do |task| %>
  <li class="list-group-item list-group-item-action d-flex align-items-center">
    <% if task.completed %>
      <i class="fa-solid fa-square-check"></i>
    <% else %>
      <i class="fa-regular fa-square"></i>
    <% end %>
    <%= link_to task.title, task_path(task), class: "flex-grow-1 pl-3" %>
    <%= link_to "🗑",
    task_path(task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </li>

<% end %>
</ul>

<%= link_to "add new task", new_path, class: "btn btn-outline-primary" %>
